<h1>Listing Meetings</h1>

<div class="data_area">
  <table>
    <tr>
      <th>Status</th
      <th>Name</th>
      <th>Reminder</th
      <th>Category</th
      <th>Time</th>
      <th>Label</th>
      <th>Description</th
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% for a in @meeting_assignments %>
      <tr>
        <td><%=h a.status.name %></td>
        <td><%=h a.name %></td>
        <td><%=h a.reminder %></td>
        <td><%=h a.category.name %></td>
        <td><%=h a.assignable.time %></td>
        <td><%=h a.assignable.label %></td>
        <td><%=h a.assignable.description %></td>
        <td><%= link_to 'Show', :controller => 'meetings',
                            :action => 'show',
                            :id => a.assignable %></td>
        <td><%= link_to 'Edit', edit_meeting_path(a.assignable) %></td>
        <td><%= link_to 'Destroy', { :controller => 'meetings',
             :action => 'destroy', :id => a },
             :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>

<br />

<%= link_to 'New meeting', new_meeting_path %>
<br /><br /><br />
<%= will_paginate @meeting_assignments %>
