<h1>Editing assignment:</h1>

<% form_for(@assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :reminder %><br />
    <%= f.date_select :reminder %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, @categories %> 
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select :status_id, @statuses %>
  </p>

  <% fields_for :task do |task| %>
    <p>
      <%= task.label :due %><br />
      <%= task.date_select :due %>
    </p>
    <p>
      <%= task.label :priority %><br />
      <%= task.text_field :priority %>
    </p>
    <p>
      <%= task.label :label %><br />
      <%= task.text_field :label %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @assignment %> |
<%= link_to 'Back', assignments_path %>
