<h1>Editing Task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>
  <p>
      <%= f.label :due %><br />
      <%= f.date_select :due %>
  </p>
  <p>
      <%= f.label :priority %><br />
      <%= f.text_field :priority %>
  </p>
  <p>
      <%= f.label :label %><br />
      <%= f.text_field :label %>
  </p>
  <% fields_for :assignment do |assignment| %>
    <p>
    <%= assignment.label :name %><br />
    <%= assignment.text_field :name %>
    </p>
    <p>
    <%= assignment.label :reminder %><br />
    <%= assignment.date_select :reminder %>
    </p>
    <p>
    <%= assignment.label :category %><br />
    <%= assignment.select :category_id, @categories %>
    </p>
    <p>
    <%= assignment.label :status %><br />
    <%= assignment.select :status_id, @statuses %>
    </p>
  <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<!-- < link_to 'Show', @assignment > | -->
<%= link_to 'Show', :controller => 'tasks', :action => 'show',
                    :id => @task %> |
<%= link_to 'Back', tasks_path %>
