<h3>Task: <%=h @assignment.name %></h3>
<% if flash[:notice] %>
  <div id="notice"><span><%= flash[:notice] %></span></div>
<% end %>

<p>
  <b>Name:</b>
  <%=h @assignment.name %>
</p>
<p>
  <b>Due:</b>
  <%=h @task.due %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Label:</b>
  <%=h @task.label %>
</p>
<p>
  <b>Reminder:</b>
  <%=h @assignment.reminder %>
</p>
<p>
  <b>Category:</b>
  <%=h @assignment.category.name %>
</p>
<p>
  <b>Status:</b>
  <%=h @assignment.status.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
